<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta name="description"
    content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google.">
  <meta name="keywords"
    content="materialize, admin template, dashboard template, flat admin template, responsive admin template, eCommerce dashboard, analytic dashboard">
  <meta name="author" content="ThemeSelect">
  <title>Clxns</title>
  <link rel="apple-touch-icon" href="/img/favicon.png">
  <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png">
  <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
  <!-- BEGIN: VENDOR CSS-->
  <link rel="stylesheet" type="text/css" href="/app-assets/vendors/vendors.min.css">
  <link rel="stylesheet" type="text/css" href="/app-assets/vendors/dropify/css/dropify.min.css">
  <link rel="stylesheet" type="text/css" href="/app-assets/vendors/animate-css/animate.css">
  <link rel="stylesheet" type="text/css" href="/app-assets/vendors/chartist-js/chartist.min.css">
  <link rel="stylesheet" type="text/css" href="/app-assets/vendors/chartist-js/chartist-plugin-tooltip.css">
  <!-- END: VENDOR CSS-->
  <!-- BEGIN: Page Level CSS-->
  <link rel="stylesheet" type="text/css" href="/app-assets/css/themes/vertical-modern-menu-template/materialize.css">
  <link rel="stylesheet" type="text/css" href="/app-assets/css/themes/vertical-modern-menu-template/style.css">
  <link rel="stylesheet" type="text/css" href="/app-assets/css/pages/dashboard-modern.css">
  <link rel="stylesheet" type="text/css" href="/app-assets/css/pages/intro.css">
  <link rel="stylesheet" type="text/css" href="/app-assets/css/pages/page-timeline.min.css">
  <link rel="stylesheet" type="text/css" href="/app-assets/css/pages/page-timeline.css">
  <!-- END: Page Level CSS-->

  <!-- BEGIN: VENDOR CSS-->
  <link rel="stylesheet" type="text/css" href="/app-assets/vendors/flag-icon/css/flag-icon.min.css">
  <link rel="stylesheet" type="text/css" href="/app-assets/vendors/data-tables/css/jquery.dataTables.min.css">

  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js">
  <link rel="stylesheet" type="text/css"
    href="/app-assets/vendors/data-tables/extensions/responsive/css/responsive.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="/app-assets/vendors/data-tables/css/select.dataTables.min.css">


  <!-- END: VENDOR CSS-->
  <!-- BEGIN: Page Level CSS-->
  <link rel="stylesheet" type="text/css" href="/app-assets/css/pages/data-tables.css">
  <!-- END: Page Level CSS-->
  <!-- BEGIN: Custom CSS-->
  <link rel="stylesheet" type="text/css" href="/app-assets/css/custom/custom.css">
  <link rel="stylesheet" href="/app-assets/vendors/noUiSlider/nouislider.min.css" type="text/css">
  <!-- END: Custom CSS-->
  <!-- END: Page Level CSS-->
  <!-- BEGIN: Custom CSS-->
  <!-- datatable js file added -->
  <script src="/app-assets/js/vendors.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.css" integrity="sha512-+VDbDxc9zesADd49pfvz7CgsOl2xREI/7gnzcdyA9XjuTxLXrdpuz21VVIqc5HPfZji2CypSbxx1lgD7BgBK5g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" integrity="sha512-0SPWAwpC/17yYyZ/4HSllgaK7/gg9OlVozq8K7rf3J8LvCjYEEIfzzpnA2/SSjpGIunCSD18r3UhvDcu/xncWA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <!-- BEGIN VENDOR JS-->
  <!-- BEGIN PAGE VENDOR JS-->
  <script src="/app-assets/vendors/data-tables/js/jquery.dataTables.min.js"></script>
  <script src="/app-assets/vendors/data-tables/extensions/responsive/js/dataTables.responsive.min.js"></script>
  <script src="/app-assets/vendors/data-tables/js/dataTables.select.min.js"></script>
  <!-- END PAGE VENDOR JS-->
  <!-- BEGIN THEME  JS-->
  <script src="/app-assets/js/scripts/dashboard-analytics.js"></script>
  <script src="/app-assets/js/plugins.min.js"></script>
  <script src="/app-assets/js/search.min.js"></script>
  <script src="/app-assets/js/custom/custom-script.min.js"></script>
  <script src="/app-assets/js/scripts/customizer.min.js"></script>
  <!-- END THEME  JS-->
  <!-- BEGIN PAGE LEVEL JS-->
  <script src="/app-assets/js/scripts/data-tables.min.js"></script> 
  
  <script src="/app-assets/vendors/noUiSlider/nouislider.js"></script>
  <style>
    @font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2') format('woff2');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
.hero-label{
  margin-left: 17rem;
}
/* .mobileView{
    margin-left: 208px;
  } */
.filterCSS{
  width: 100%;
  margin: 0;
  padding: 0;
}
.filterStyleCSS{
  padding-right: 0px;
    /* background: red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end
}

.right-filter-apply-btns{
  position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background: white !important;
}
.filterInputs{
  max-height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 50px;
}

 .md-scroll{
  max-height: 180px;
  overflow-y: scroll;
 }

 .lg-scroll{
  max-height: 300px;
  overflow-y: scroll;
 }

.theme-cutomizer.sidenav .right-filter-apply-btns button{
  line-height: 42px;
  height: 42px;
}

@media only screen and (max-width: 600px) {
    .hero-label{
    margin-left: 10rem;
  }
  .mobileView{
    margin-left: 1rem !important;
  } 
  .mobileCss{
    width: 70%;
    margin-left: 3rem;
  } 
}

  </style>
</head>
<!-- END: Head-->

<body
  class="vertical-layout vertical-menu-collapsible page-header-dark vertical-modern-menu preload-transitions 2-columns   "
  data-open="click" data-menu="vertical-modern-menu" data-col="2-columns">
  <div class="blockUI blockOverlay document-before-load-spinner"
    style="z-index: 1000; border: none; margin: 0px; padding: 0px; width: 100%; height: 100%; top: 0px; left: 0px; background-color: rgb(255, 255, 255); opacity: 0.8; cursor: pointer; position: fixed;">
  </div>
  <div class="blockUI blockMsg blockPage document-before-load-spinner"
    style="z-index: 1011; position: fixed; padding: 0px; margin: 0px; width: 30%; top: 40%; left: 35%; text-align: center; color: rgb(51, 51, 51); border: 0px; background-color: transparent; cursor: wait;">
    <div class="preloader-wrapper small active m-0 p-0" style="animation: container-rotate 768ms cubic-bezier(0, 0, 0.68, 0.52) infinite">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>