<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Clxns</title>
    <!-- favicon CSS -->
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon.png">
    <!-- fonts -->
    <link href="fonts/sfuidisplay.css" rel="stylesheet">
    <!-- Icon fonts -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="css/plugins.min.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="css/app.css">
    <!-- Your CSS -->
    <link rel="stylesheet" href="css/custom.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <!-- CSS only -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous"> -->
    <!-- JavaScript Bundle with Popper -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous">
    </script> -->
</head>

<body class="theme-gradient-1 boxed-layout" data-spy="scroll" data-target="#navbar-nav" data-animation="false"
    data-appearance="light">

    <main class="main">

        <!-- =========== Navigation (main menu) ============ -->
        <header class="navbar sticky-bg-color--light navbar-expand-lg navbar-light">
            <div class="container-fluid position-relative">
                <a class="navbar-brand" href="#">
                    <img class="navbar-brand__regular" src="img/brand-logo-white.png" alt="brand-logo"
                        style="width:130px">
                    <img class="navbar-brand__sticky" src="img/brand-logo-white.png" alt="sticky brand-logo"
                        style="width:130px">
                </a>
                <button class="navbar-toggler d-lg-none" type="button" data-toggle="navbarToggler"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-inner">
                    <!--  Nav close button inside off-canvas/ mobile menu -->
                    <button class="navbar-toggler d-lg-none" type="button" data-toggle="navbarToggler"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- end of Nav Toggoler -->
                    <nav>
                        <ul class="navbar-nav" id="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="#service">OUR SERVICES</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#partner">OUR PARTNERS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#about">ABOUT US</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#presence">OUR PRESENCE</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#faq">FAQs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#careers">CAREERS</a>
                            </li>

                        </ul>
                    </nav>
                </div>
                <!-- <div class="d-flex align-items-center ml-lg-1 ml-xl-2 mr-5 mr-sm-6 m-lg-0">
                    <a href="#" class="btn btn-size--md btn-bg--primary rounded--full btn-hover--3d btn-hover--splash">
                        <span class="btn__text d-flex align-items-center">
                            <i class="icon icon-a-add color--white pr-1 h6-font font-w--700"></i>
                            Login
                        </span>
                    </a>
                </div> -->

                <div class="d-flex align-items-center ml-lg-1 ml-xl-2 mr-5 mr-sm-6 m-lg-0">
                    <a href="#contact">
                        <h6 class="btn btn-size--md btn-bg--primary rounded--full btn-hover--3d btn-hover--splash">
                            Contact Us
                        </h6>
                    </a>
                </div>




            </div>
        </header>

        <!-- =========== SOLUTIONS ============ -->
        <section class="hero hero--full hero--v12 d-flex align-items-center" id="solution">
            <div class="background-holder background--cover z-index1"
                style="background-image: url(&quot;img/hero-12.png&quot;); background-repeat: no-repeat;">
                <img src="img/hero-12.png" alt="image" class="background-image-holder" style="display: none;">
            </div>
            <div class="background-holder bg-color--primary"></div>
            <div class="svg-shape w-100 z-index2">
                <img src="img/layout/wave-14.svg" alt="wave" class="svg">
            </div>
            <div class="container mt-5">
                <!-- <div class="row flex-column-reverse flex-lg-row align-items-center mb-10 mb-lg-5 mt-10"> -->
                <div class="col-12 col-md-10 col-lg-12 mx-auto mx-lg-0 text-center text-lg-center z-index3">
                    <!-- <div class="hero-content reveal"> -->
                    <!-- <h1 class="hero__title color--white h2-font font-w--700 mb-2">We believe in Conversations!
                            </h1>
                            <p class="hero__description color--white opacity--80 font-size--30 mb-4 mb-lg-5 pr-xl-5">We
                                use technology-led approach to transform traditional debt collection into a positive
                                customer experience – Efficient, Effective, innovative.</p> -->
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active mb-7">
                                <h1 class="hero__title color--white h2-font font-w--700 mb-2">
                                    We believe in Conversations!
                                </h1>
                                <p class="bannerDescripton color--white opacity--80 mb-4 mb-lg-5 pr-xl-5">
                                    We
                                    use technology-led approach to transform traditional debt collection into a
                                    positive
                                    customer experience – Efficient, Effective, Innovative</p>
                                <!-- <a href="#"
                                    class="btn btn-size--md btn-bg--primary rounded--full btn-hover--3d btn-hover--splash">
                                    <span class="btn__text d-flex align-items-center">
                                        Want To Know More?
                                    </span>
                                </a> -->
                                <a class="nav-link btn btn-size--md btn-bg--primary rounded--full btn-hover--3d btn-hover--splash"
                                    href="#contact">
                                    <span class="btn__text d-flex align-items-center">
                                        Want To Know More?
                                    </span>
                                </a>
                            </div>
                            <div class="carousel-item mb-7">
                                <h1 class="hero__title color--white h2-font font-w--700 mb-2">
                                    From Recovery To Retention!
                                </h1>
                                <p class="bannerDescripton color--white opacity--80 mb-4 mb-lg-5 pr-xl-5">
                                    A customer centric digitized debt collection processes
                                    integrated with AI technologies for superior experience
                                    and better recover rate
                                </p>
                                <a href="#footer"
                                    class="nav-link btn btn-size--md btn-bg--primary rounded--full btn-hover--3d btn-hover--splash">
                                    <span class="btn__text d-flex align-items-center">
                                        Want To Know More?
                                    </span>
                                </a>
                            </div>
                            <div class="carousel-item mb-7">
                                <h1 class="hero__title color--white h2-font font-w--700 mb-2">
                                    Reinvention in Debt Collection
                                </h1>
                                <p class="bannerDescripton color--white opacity--80 mb-4 mb-lg-5 pr-xl-5">
                                    Digital-first debt collection services that delivers
                                    better results and happier consumers
                                </p>
                                <a href="#footer"
                                    class="nav-link btn btn-size--md btn-bg--primary rounded--full btn-hover--3d btn-hover--splash">
                                    <span class="btn__text d-flex align-items-center">
                                        Want To Know More?
                                    </span>
                                </a>
                            </div>
                        </div>

                    </div>
                    <!-- </div> -->
                </div>
                <!-- </div> -->
            </div>
        </section>

        <section class="pt-2 process process--v1 section--dark bg-color--white--1" id="working-process">
            <div class="container">
                <div class="row position-relative pt-lg-5">
                    <div class="col-12 col-md-12 col-lg-12">
                        <div class="section-title text-center pb-7 reveal">
                            <div class="section-title">
                                <h3 class="mb-1 mt-1 h4-font font-w--700">OUR VALUE PROPOSITION</h3>
                                <p class="mb-1 subtext"><i>With technology led collection strategy you get to know your
                                        customers better and create an individual, digital customer experience while
                                        keeping the most efficient
                                        and effective for your organizational debt collection strategy.</i></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="col-12">
                        <div class="masks">
                            <div class="mask mask--top z-index2 jsElement bg-color--primary" data-height="50%">
                            </div>
                            <div class="mask mask--bottom z-index3 bg-color--primary-light--1 jsElement"
                                data-height="72.7%"></div>
                            <div class="mask mask--full bg-color--primary-light--1 jsElement" data-height="72.7%">
                            </div>
                        </div>
                        <div class="carosuel-slider--v3 card--v3 z-index1">
                            <div class="col-6 col-sm-6 col-md-3 col-lg-3 mb-3">
                                <div
                                    class="bg-color--white value-card card-hover--3d align-items-center border--none text-center pt-2 reveal">
                                    <span class="font-size--48 color--primary">
                                        <i class="fa fa-briefcase" aria-hidden="true"></i></span>
                                    <div class="card-body align-items-center">

                                        <h3 class="h5-font font-w--600 mb-1">Improved Business Agility</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 col-md-3 col-lg-3 mb-3">
                                <div
                                    class="bg-color--white value-card card-hover--3d align-items-center border--none text-center pt-2 reveal">
                                    <span class="font-size--48 color--primary">
                                        <i class="fas fa-clock"></i>
                                    </span>
                                    <div class="card-body align-items-center">
                                        <h3 class="h5-font font-w--600 mb-1"> Improved Time to Collect & <br>
                                            Reduced NPAs</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 col-md-3 col-lg-3 mb-3">
                                <div
                                    class="bg-color--white value-card card-hover--3d align-items-center border--none text-center pt-2 reveal">
                                    <span class="font-size--48 color--primary">
                                        <i class="fas fa-dollar-sign"></i>
                                    </span>
                                    <div class="card-body align-items-center">
                                        <h3 class="h5-font font-w--600 mb-1">Reduction in Overall Cost &<br> Faster
                                            to Implement
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 col-md-3 col-lg-3 mb-3">
                                <div
                                    class="bg-color--white value-card card-hover--3d align-items-center border--none text-center pt-2 reveal">
                                    <span class="font-size--48 color--primary">
                                        <i class="fas fa-file-alt"></i>
                                    </span>
                                    <div class="card-body align-items-center">
                                        <h3 class="h5-font font-w--600 mb-1">Digital Reporting</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 col-md-3 col-lg-3 mb-3">
                                <div
                                    class="bg-color--white value-card card-hover--3d align-items-center border--none text-center pt-2 reveal">
                                    <span class="font-size--48 color--primary">
                                        <i class="fas fa-atom"></i>
                                    </span>
                                    <div class="card-body align-items-center">
                                        <h3 class="h5-font font-w--600 mb-1">Access to Wider Ecosystem</h3>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </section>


        <!-- =========== OUR SERVICES ============ -->
        <div id="service" class="p-3">
        </div>
        <section class="section--dark bg-color--primary">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div style="text-align: center; margin-top: 4rem; margin-bottom: 2rem;">
                            <h3 class="h4-font color--white font-w--700">OUR SERVICES</h3>
                        </div>
                    </div>
                </div>
                <div class="row pb-6">
                    <div class="col-12 col-md-6 ">
                        <div class="our-services">
                            <div class="row" style="margin-top: 0px; display: flex; align-items: center;">
                                <div class="col-3 col-md-3">
                                    <span class="font-size--48 color--primary">
                                        <i class="fas fa-tasks"></i>
                                    </span>
                                    </span>
                                </div>
                                <div class="col-9 col-md-9">
                                    <h3 class="h5-font font-w--600 mb-1">One stop solution for Collection Management
                                    </h3>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 20px; display: flex; align-items: center;">
                                <div class="col-12 col-md-12">
                                    <p class="color-black">From early to legal on a single platform</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="our-services">
                            <div class="row" style="margin-top: 0px; display: flex; align-items: center;">
                                <div class="col-3 col-md-3">
                                    <span class="font-size--48 color--primary">
                                        <i class="fas fa-credit-card"></i>
                                    </span>
                                </div>
                                <div class="col-9 col-md-9">
                                    <h3 class="h5-font font-w--600 mb-1">Broad product coverage</h3>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 20px; display: flex; align-items: center;">
                                <div class="col-12 col-md-12">
                                    <p class="color-black">Credit Cards, Personal Loan, Housing Loan & Auto loan
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="our-services">

                            <div class="row" style="margin-top: 0px; display: flex; align-items: center;">
                                <div class="col-3 col-md-3">
                                    <span class="font-size--48 color--primary">
                                        <i class="fas fa-users"></i>
                                    </span>
                                </div>
                                <div class="col-9 col-md-9">
                                    <h3 class="h5-font font-w--600 mb-1">Trained and certified team managing collections
                                    </h3>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 20px; display: flex; align-items: center;">
                                <div class="col-12 col-md-12">
                                    <p class="color-black">Better recovery rate with superior customer experience
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="our-services">

                            <div class="row" style="margin-top: 0px; display: flex; align-items: center;">
                                <div class="col-3 col-md-3">
                                    <span class="font-size--48 color--primary">
                                        <i class="fas fa-cogs"></i>
                                    </span>
                                </div>
                                <div class="col-9 col-md-9">
                                    <h3 class="h5-font font-w--600 mb-1">Intutive & Transparent Dashboard</h3>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 20px; display: flex; align-items: center;">

                                <div class="col-12 col-md-12">
                                    <p class="color-black">100% process visibility with continuous data monitoring
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <hr class="border--bottom">
            </div>
        </section>

        <!-- =========== FEATURES ============ -->
        <section class="pt-4 process process--v1 section--dark bg-color--white--1" id="working-process">

            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-12 mx-auto mx-md-0">
                        <div class="text-center reveal">
                            <!-- <h2 class="h4-font font-w--700">FEATURES</h2> -->
                            <h3 class="mb-1 mt-1 h4-font font-w--700" style="margin:auto">FEATURES</h3>
                            <p class="subtext">
                                <i>Focusing on a simple, digital collection experience with our advanced
                                    technology
                                    based platform: for a higher recovery rate, more loyal customer relationships and
                                    lower costs.
                                </i>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: -20px;min-height: 400px;">
                    <div class="col-12 text-center">
                        <img src="img/diagram/FEATURES2x.png" alt="process" class="featuresImg">
                    </div>
                </div>
            </div>

        </section>

        <!-- =========== PARTNERS ============ -->
        <!-- <div id="partner" class="p-3">
        </div>
        <section class="pt-4 section--dark bg-color--primary">
            <div class="background-holder opacity--05">
                <img src="img/layout/bg-overlay-04.png" alt="image" class="background-image-holder">
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-10 col-md-8 mx-auto">
                        <div class="text-center mb-5 mb-lg-5 reveal">
                            <h2 class="h4-font color--white mt-2 font-w--700">OUR PARTNERS</h2>
                        </div>
                    </div>
                </div>
                <div class="vertical-border d-flex pos-abs-center h-100 w-100">
                    <span class="column-border"></span>
                </div>
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-6 mb-5" style="text-align: center;">
                        <span style="background-color: white; padding: 20px; border-radius: 10px; min-height: 70px;">
                            <img src="img/partner-logo-1.png" style="width:200px" alt="partner-logo" class="img-fluid">
                        </span>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 mb-5" style="text-align: center;">
                        <span style="background-color: white; padding: 20px; border-radius: 10px; min-height: 70px;">
                            <img src="img/partner-logo-2w.png" style="width:200px" alt="partner-logo" class="img-fluid">
                        </span>
                    </div>
                </div>
            </div>

            </div>

        </section> -->

        <!-- =========== ABOUT ============p-2 -->
        <div id="about" class=" section--dark bg-color--primary">
        </div>
        <section class="pb-5 pt-6 pb-lg-10 about about--v3 section--light bg-color--primary-light--1">
            <div class="container">
                <div class="row align-items-center flex-lg-row text-center text-lg-left">
                    <!-- end of image -->
                    <div class="col-12">
                        <h2 class="h4-font mb-5 text-center font-w--700">ABOUT US</h2>
                    </div>
                    <div class="col-12 col-lg-7 col-xl-6">
                        <div class="text-center text-lg-left reveal">
                            <p class="h6-font mb-3 color-black">
                                A digital-first debt collection fintech focusing on data &amp; AI-led approach to deliver better
                                recoveries and happier consumers. At CLXNS, we are a team of dynamic , energetic and
                                experienced professionals in area of Debt collection and Technology. We aim to offer a
                                unique technology led &amp; innovative approach towards debt collection, delinquency/NPA
                                management to banks, NBFCs &amp; Fintech. We have built a strong &amp; blended debt collection
                                strategy by combining regional debt collection expertise and new age technology solution
                                to partner with Financial Institutions and work as their extended collection team. It’s our
                                endeavour is to offer our partner financial institution with faster recovery rate, better cost
                                efficiency, transparent &amp; streamline debt collection with superior customer experience.
                            </p>

                        </div>
                    </div>
                    <div class="col-12 col-lg-5 col-xl-6 mb-6 mb-lg-0">
                        <picture class="about__image reveal">
                            <img src="img/illustration-03.png" alt="illustration" class="img-fluid">
                        </picture>
                    </div>
                </div>

            </div>
        </section>

        <!-- =========== TEAMS ============ -->
        <!-- <section class="pb-2 pt-4 section--dark bg-color--primary" id="partner">
            <div class="background-holder opacity--05">
                <img src="img/layout/bg-overlay-04.png" alt="image" class="background-image-holder">
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-10 col-md-8 mx-auto">
                        <div class="text-center mb-2 reveal">
                            <h2 class="h4-font color--white mt-2 font-w--700">OUR TEAM</h2>
                        </div>
                    </div>
                </div>

                <div class="row slider-mobile">
                    <div class="col-12">
                        <div class="masks">
                            <div class="mask mask--top z-index2 jsElement bg-color--primary" data-height="50%"></div>
                            <div class="mask mask--bottom z-index3 bg-color--primary-light--1 jsElement"
                                data-height="72.7%"></div>
                            <div class="mask mask--full bg-color--primary-light--1 jsElement" data-height="72.7%"></div>
                        </div>
                        <div class="carosuel-slider--v4 card--v3 z-index1">
                            <div class="col-12 col-sm-6 col-md-3 col-lg-3 mb-3">
                                <div
                                    class="bg-color--white teamCard card-hover--3d align-items-center border--none text-center pt-5 reveal">
                                    <img src="img/mamber-1.png" alt="mamber" class="img-fluid">
                                    <div class="card-body align-items-center">
                                        <h3 class="h6-font font-w--600 color--primary">Marcus Moran</h3>
                                        <span
                                            class="font-size--14 opacity--80 font-w--500 color--primary">Co-founder</span>
                                        <ul
                                            class="list-unstyled d-flex align-items-center justify-content-center text-center mt-2">
                                            <li>
                                                <a href="#" class="color--primary opacity--70 px-1">
                                                    <i class="fab fa-linkedin-in"> </i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="mailto:infiny@infiny.in"
                                                    class="color--primary opacity--70 px-1">
                                                    <i class="far fa-envelope"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-3 col-lg-3 mb-3">
                                <div
                                    class="bg-color--white teamCard card-hover--3d align-items-center border--none text-center pt-5 reveal">
                                    <img src="img/mamber-1.png" alt="mamber" class="img-fluid">
                                    <div class="card-body align-items-center">
                                        <h3 class="h6-font font-w--600 color--primary">Elizabeth Guzman</h3>
                                        <span class="font-size--14 opacity--80 font-w--500 color--primary">Risk
                                            management</span>
                                        <ul
                                            class="list-unstyled d-flex align-items-center justify-content-center text-center mt-2">
                                            <li>
                                                <a href="#" class="color--primary opacity--70 px-1">
                                                    <i class="fab fa-linkedin-in"> </i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="mailto:infiny@infiny.in"
                                                    class="color--primary opacity--70 px-1">
                                                    <i class="far fa-envelope"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-3 col-lg-3 mb-3">
                                <div
                                    class="bg-color--white teamCard card-hover--3d align-items-center border--none text-center pt-5 reveal">
                                    <img src="img/mamber-1.png" alt="mamber" class="img-fluid">
                                    <div class="card-body align-items-center">
                                        <h3 class="h6-font font-w--600 color--primary">Ricardo Hogan</h3>
                                        <span class="font-size--14 opacity--80 font-w--500 color--primary">Blockchain
                                            analyst</span>
                                        <ul
                                            class="list-unstyled d-flex align-items-center justify-content-center text-center mt-2">
                                            <li>
                                                <a href="#" class="color--primary opacity--70 px-1">
                                                    <i class="fab fa-linkedin-in"> </i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="mailto:infiny@infiny.in"
                                                    class="color--primary opacity--70 px-1">
                                                    <i class="far fa-envelope"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row slider-desktop">
                    <div class="row">
                        <div class="col-sm-12 col-md-4 col-lg-4 mb-3">
                            <div
                                class="bg-color--white teamCard card-hover--3d align-items-center border--none text-center pt-5 reveal">
                                <img src="img/mamber-1.png" alt="mamber" class="img-fluid">
                                <div class="card-body align-items-center">
                                    <h3 class="h6-font font-w--600 color--primary">Marcus Moran</h3>
                                    <span class="font-size--14 opacity--80 font-w--500 color--primary">Co-founder</span>
                                    <ul
                                        class="list-unstyled d-flex align-items-center justify-content-center text-center mt-2">
                                        <li>
                                            <a href="#" class="color--primary opacity--70 px-1">
                                                <i class="fab fa-linkedin-in"> </i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="mailto:infiny@infiny.in" class="color--primary opacity--70 px-1">
                                                <i class="far fa-envelope"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4 mb-3">
                            <div
                                class="bg-color--white teamCard card-hover--3d align-items-center border--none text-center pt-5 reveal">
                                <img src="img/mamber-1.png" alt="mamber" class="img-fluid">
                                <div class="card-body align-items-center">
                                    <h3 class="h6-font font-w--600 color--primary">Elizabeth Guzman</h3>
                                    <span class="font-size--14 opacity--80 font-w--500 color--primary">Risk
                                        management</span>
                                    <ul
                                        class="list-unstyled d-flex align-items-center justify-content-center text-center mt-2">
                                        <li>
                                            <a href="#" class="color--primary opacity--70 px-1">
                                                <i class="fab fa-linkedin-in"> </i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="mailto:infiny@infiny.in" class="color--primary opacity--70 px-1">
                                                <i class="far fa-envelope"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4 mb-3">
                            <div
                                class="bg-color--white teamCard card-hover--3d align-items-center border--none text-center pt-5 reveal">
                                <img src="img/mamber-1.png" alt="mamber" class="img-fluid">
                                <div class="card-body align-items-center">
                                    <h3 class="h6-font font-w--600 color--primary">Ricardo Hogan</h3>
                                    <span class="font-size--14 opacity--80 font-w--500 color--primary">Blockchain
                                        analyst</span>
                                    <ul
                                        class="list-unstyled d-flex align-items-center justify-content-center text-center mt-2">
                                        <li>
                                            <a href="#" class="color--primary opacity--70 px-1">
                                                <i class="fab fa-linkedin-in"> </i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="mailto:infiny@infiny.in" class="color--primary opacity--70 px-1">
                                                <i class="far fa-envelope"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </section> -->

        <!-- =========== PRESENCE ============ -->
        <!-- <div id="presence" class="p-2 section--dark bg-color--primary">
        </div> -->
        <section class="pt-6 team team--v1">
            <div class="container">

                <div class="row">
                    <div class="col-12 col-sm-10 col-md-8 mx-auto reveal">
                        <div class="text-center">
                            <h2 class="h4-font mb-5 font-w--700">OUR PRESENCE</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-6 reveal mg-l-6 d-sm-none d-none d-sm-none d-md-block">
                        <ul class="pl-2">
                            <li class="color--green mb-3 h5-font">
                                <h3 class="h5-font font-w--600 color--green">Delhi</h3>
                                <p>Currently operational with 350+ team members </p>
                            </li>
                            <li class="color--blu mb-3 h5-font">
                                <h3 class="h5-font font-w--600 color--blu">Mumbai</h3>
                                <p>Will be operational from May, 2021 Recruitment in progress to build 20+ team
                                    members </p>
                            </li>
                            <li class="color--ylo mb-3 h5-font">
                                <h3 class="h5-font font-w--600 color--ylo">Bangalore</h3>
                                <p>Planned to be operational by September, 2021 </p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-lg-6 map-img-mobile justify-content-center">
                        <img style="width:100%;" src="img/mobilemap.svg">
                    </div>
                    <div class="col-12 col-lg-6 map-img-desktop">
                        <img style="width:100%;" src="img/indiacity.svg">
                    </div>
                </div>
            </div>
        </section>

        <!-- =========== CONTACT US ============ -->
        <div id="contact" class="p-3">
        </div>
        <section class="bg-color--primary">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-10 col-md-8 mx-auto">
                        <div class="text-center mb-0 mb-lg-0 reveal">
                            <h2 class="h4-font color--white mt-5 font-w--700">CONTACT US</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="space sm-nospace col-12 col-sm-12 col-md-6 col-lg-6">
                        <iframe style="border:0; border-radius: 0.5rem;" width="100%" height="100%"
                            src="https://maps.google.com/maps?q=inspire%20bkc%20enterence&t=&z=13&ie=UTF8&iwloc=&output=embed"
                            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                    </div>
                    <div class="space col-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form--v6">
                            <div id="submitform" class="">
                                <form class="form" onsubmit="return submitfun()">
                                    <div class="form-group form-row">
                                        <div class="col-12 col-md-6 form-group mb-md-0">
                                            <input type="text" id="first_name" class="form-control" placeholder="First Name"
                                                required="required">
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <input type="text" id="last_name" class="form-control" placeholder="Last Name" required="required">
                                        </div>
                                    </div>
                                    <div class="form-group form-row">
                                        <div class="col-12 col-md-6 form-group mb-md-0">
                                            <input type="text" id="organisation" class="form-control" placeholder="Oragnization"
                                               >
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <input type="text" id="designation" class="form-control" placeholder="Designation"
                                                >
                                        </div>
                                    </div>

                                    <div class="form-group form-row">
                                        <div class="col-12 col-md-6 form-group mb-md-0">
                                            <input type="email" id="email" class="form-control" placeholder="Your Email"
                                                required="required">
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <input type="number" id="phone" class="form-control" placeholder="Phone Number"
                                                required="required">
                                        </div>
                                    </div>
                                    <!-- end of form row -->
                                    <div class="form-group form-row">
                                        <div class="col">
                                            <select id="subject" class="form-control"
                                                style="min-height: 50px; color: grey">
                                                <option value="General Enquiry">General enquiry</option>
                                                <option value="Partnerships">Partnerships</option>
                                                <option value="Job Application">Job Application</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- end of form row -->
                                    <div class="form-group form-row mb-4">
                                        <div class="col">
                                            <textarea id="message" rows="6" class="form-control" placeholder="Write your message"
                                                required="required"></textarea>
                                        </div>
                                    </div>
                                    <!-- end of form row -->
                                    <!-- <button
                                        class="btn btn-size--md btn-border btn-border--color--primary color--primary btn-hover--primary"
                                        type="submit"><span class="btn__text">Send Message</span></button> -->
                                    <input type="submit"
                                        class="btn btn-size--md btn-bg--primary rounded--full btn-hover--3d btn-hover--splash" id="submit">
                        
                                    </input>
                                </form>
                                <!-- end of from -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        

        <!-- =========== PARTNERS ============ -->
        <!-- <div  class="p-3">
        </div> -->
        <hr style="margin:0;border:2px solid #FFFFFF">
        <section id="careers" class="pt-4 section--dark bg-color--primary">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-12 mx-auto mx-md-0">
                        <div class="text-center reveal">
                            <h3 class="mb-1 mt-1 h4-font color--white font-w--700" style="margin:auto">CAREERS</h3>
                            <p class="subtext">
                                <i>We are looking for talented people. Explore a career at CLXNS.</i>
                            </p>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="space col-12 col-sm-12 col-md-6 col-lg-6" style="margin-top: auto; margin-bottom: auto;">
                        <div>
                            <h2 class="font-size--30 color--white font-w--700 mb-2">Work With Us</h2>
                        </div>
                        <div>
                            We have opening for following positions:<br>
                            1. Process Supervisor<br>
                            2. Field Supervisor<br>
                            3. Customer Relationship Executive<br>
                            4. Field Executive<br>
                            <span style ="margin-top:15px">Job location Delhi</span><br> 
                            <span >Contact: hr@clxns.in</span><br>
                        </div>
                        
                        <br>

                        <a href="#contact">
                            <h6 class="btn btn-size--md btn-bg--primary rounded--full btn-hover--3d btn-hover--splash">
                                Apply
                            </h6>
                        </a>

                    </div>

                    <div class="space col-12 col-sm-12 col-md-6 col-lg-6 img-careers-mobile" style="margin-top: auto; margin-bottom: auto;">
                        <div class="row">
                            <img src="img/carrer.png" width="80%" class="img-careers">
                        </div>
                    </div>

                </div>

        </section>
        <!-- =========== footer height emulator============ -->
        <!-- this height emulator helps to calculate the fixed footer height  -->
        <div class="height-emulator d-none d-lg-block"></div>

        <!-- =========== FOOTER ============ -->
        <footer class="footer section--light bg-color--primary-light--1  position-relative hidden">
            <div class="pt-3 pt-lg-10 pb-6 pb-lg-10 border--bottom" id="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-9 col-lg-4 mb-4 mb-xl-0">
                            <div class="pr-xl-3">
                                <span class="mb-3">
                                    <img src="img/brand-logo-white.png" alt="brand-logo">
                                </span>
                            </div>
                        </div>

                        <!-- end of widget col-->
                        <div class="col-6 col-md-4 col-lg-4 col-xl-2  mb-2 mb-xl-0">
                            <div class="widget widget-nav">
                                <span class="widget__title font-size--20 font-w--700 mb-1">Legal</span>
                                <ul>
                                    <li><a href="privacy_policy" target="_blank">Privacy policy</a></li>
                                    <li><a href="terms_of_use" target="_blank">Terms of use</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- end of widget col-->
                        <div class="col-8 col-sm-8 col-md-4 col-xl-6">
                            <span class="widget__title font-size--20 font-w--700 mb-1">Address</span>
                            <p class="font-size--15 mb-2">111, Inspire BKC, G Block,BKC, Bandra (East), Mumbai,
                                Maharashtra 400051, IN</p>
                            <a href="mailto:biz@clxns.in" class="color--primary mb-1">biz@clxns.in</a>
                            <ul class="icon-group mb-0">
                                <li><a href="https://www.linkedin.com/company/clxns/" class="color--primary"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                        <!-- end of widget col-->
                    </div>
                </div>
                <!-- end of main footer container-->
            </div>
            <!-- end of main footer -->
            <div class="py-3">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-center">
                            <p class="font-size--15">© 2021 <a href="#" class="text-color--400">CLXNS Technologies Pvt.
                                    Ltd</a>. All Rights
                                Reserved.
                            </p>
                        </div>
                    </div>
                    <!-- end of mini footer row -->
                </div>
                <!-- end of mini footer container -->
            </div>
            <!-- end of mini footer -->
        </footer>
    </main>
    <!-- <a href="#contact" class="float">
         <i class="fas fa-phone my-float"></i> 
        <h6 style="margin-top: 17px; font-size: 17px;">Contact Us</h6>
        <h6 class="btn btn-size--md btn-bg--primary rounded--full btn-hover--3d btn-hover--splash">
            Contact Us
        </h6>
    </a> -->
    <script src="js/plugins.min.js"></script>
    <script src="js/app.js"></script>
    <script>
        function submitfun(){
            var payload = {
                first_name:$("#first_name").val(),
                last_name:$("#last_name").val(),
                organisation:$("#organisation").val(),
                designation:$("#designation").val(),
                subject:$("#subject").val(),
                phone:$("#phone").val(),
                email:$("#email").val(),
                message:$("#message").val()
            }
            $.post("/contactus", payload, function(result){
                $("#submitform").html("<h4 class='color--white'>Thank for contacting us, Will connect you shortly!</h4>")
            });
            return false;
        }
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-YMFVEK6BXZ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-YMFVEK6BXZ');
</script>

</body>

</html>