<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Clxns</title>
    <!-- favicon CSS -->
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon.png">
    <!-- fonts -->
    <link href="fonts/sfuidisplay.css" rel="stylesheet">
    <!-- Icon fonts -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="css/plugins.min.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="css/app.css">
    <!-- Your CSS -->
    <link rel="stylesheet" href="css/custom.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <!-- CSS only -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous"> -->
    <!-- JavaScript Bundle with Popper -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous">
    </script> -->
</head>

<body class="theme-gradient-1 boxed-layout" data-spy="scroll" data-target="#navbar-nav" data-animation="false"
    data-appearance="light">

    <main class="main">

        <!-- =========== Navigation (main menu) ============ -->
        <header class="navbar sticky-bg-color--light navbar-expand-lg navbar-light">
            <div class="container-fluid position-relative">
                <a class="navbar-brand" href="#">
                    <img class="navbar-brand__regular" src="img/brand-logo-white.png" alt="brand-logo"
                        style="width:130px">
                    <img class="navbar-brand__sticky" src="img/brand-logo-white.png" alt="sticky brand-logo"
                        style="width:130px">
                </a>
                <button class="navbar-toggler d-lg-none" type="button" data-toggle="navbarToggler"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-inner">
                    <!--  Nav close button inside off-canvas/ mobile menu -->
                    <button class="navbar-toggler d-lg-none" type="button" data-toggle="navbarToggler"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- end of Nav Toggoler -->
                    <nav>
                        <ul class="navbar-nav" id="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/#service">OUR SERVICES</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/#partner">OUR PARTNERS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/#about">ABOUT US</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/#presence">OUR PRESENCE</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/#faq">FAQs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/#careers">CAREERS</a>
                            </li>

                        </ul>
                    </nav>
                </div>
                <div class="d-flex align-items-center ml-lg-1 ml-xl-2 mr-5 mr-sm-6 m-lg-0">
                    <a href="/#contact">
                        <h6 class="btn btn-size--md btn-bg--primary rounded--full btn-hover--3d btn-hover--splash">
                            Contact Us
                        </h6>
                    </a>
                </div>
            </div>
        </header>

        <!-- =========== privacy policy start ============ -->
        <section id="privacy" class="pt-2 process process--v1 section--dark bg-color--white--1" style="margin-top:80px;margin-bottom:60px; ">
          <div class="container">
          <div class="lcm-title">
            <h1><span class="h5">CLXNS - PRIVACY POLICY</span></h1>
          </div>
        </br>
          <p>
            The User's right to privacy is of utmost importance to CLXNS. Any information provided by the User will
            not be shared with any third party, except for the intended purpose for which such information is provided
            by the User, in which case User’s consent is implied. CLXNS reserves the right to use the information to
            provide the User a more personalized online experience.
          </p>
        </br>
          <p>
            If the Site provides links to web sites and access to content, products and services from third parties,
            including users, advertisers, affiliates and sponsors of the Site, you agree that CLXNS is not responsible for
            the availability of, and content provided on, third party web sites. The User is requested to peruse the
            policies posted by other web sites regarding privacy and other topics before use. CLXNS is not responsible
            for third party content accessible through the Site, including opinions, advice, statements and
            advertisements, and User shall bear all risks associated with the use of such content. CLXNS is not
            responsible for any loss or damage of any sort which User may incur from dealing with any third party.
          </p>
        </br>
          <p>
            In general, you can visit CLXNS’s websites without telling us who you are and without revealing any
            information about yourself. There are times, however, when CLXNS may need information from you.</p>
          <p>
          </br>
            CLXNS does not rent, sell, or share personal information about you with other people or non-affiliated
            companies except to provide the services as agreed or intended to be generally provided through the Site
            or any other service you've specifically requested, when CLXNS has your permission, or under the following
            circumstances:</p>
          </br>
          <p>
            CLXNS provides the information to trusted partners who work on behalf of or with CLXNS under strict
            confidentiality agreements.
          </p>
        </br>
          <p>
            CLXNS responds to court orders, or legal process, or to establish or exercise its legal rights or defend against
            legal claims.
          </p>
        </br>
          <p>
            CLXNS believes it is necessary to share information in order to investigate, prevent, or take action regarding
            illegal activities, suspected fraud, situations involving potential threats to the physical safety of any person,
            or as otherwise required by law.
          </p>
        </br>
          <p>
            CLXNS transfers information about User if CLXNS is acquired by or merged with another company. User
            may choose to give CLXNS personal information, such as your name and address or e-mail id that may be
            needed, for example, to correspond with you, or to provide you with a subscription. You may send or
            upload your personal profile, CV, with all your personal, academic and professional background however
            you agree that you shall not upload or post any obscene, defamatory annoying material on the website. If
            you tell us that you do not want us to use this information as a basis for further contact with you, CLXNS
            will respect your decision. CLXNS intends to protect the quality and integrity of your personally identifiable
            information. CLXNS will make a sincere effort to respond in a timely manner to your requests to correct
            inaccuracies in your personal information. To correct inaccuracies in your personal information please
            return the message containing the
            inaccuracies to CLXNS with details of the
            correction requested.
          </p>
        </br>
          </div>
        </section>
        <!-- =========== privacy policy end ============ -->
        
        <!-- =========== footer height emulator============ -->
        <!-- this height emulator helps to calculate the fixed footer height  -->
        <div class="height-emulator d-none d-lg-block"></div>

        <!-- =========== FOOTER ============ -->
        <footer class="footer section--light bg-color--primary-light--1  position-relative hidden">
            <div class="pt-3 pt-lg-10 pb-6 pb-lg-10 border--bottom" id="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-9 col-lg-4 mb-4 mb-xl-0">
                            <div class="pr-xl-3">
                                <span class="mb-3">
                                    <img src="img/brand-logo-white.png" alt="brand-logo">
                                </span>
                            </div>
                        </div>

                        <!-- end of widget col-->
                        <div class="col-6 col-md-4 col-lg-4 col-xl-2  mb-2 mb-xl-0">
                            <div class="widget widget-nav">
                                <span class="widget__title font-size--20 font-w--700 mb-1">Legal</span>
                                <ul>
                                    <li><a href="privacy_policy" target="_blank">Privacy policy</a></li>
                                    <li><a href="terms_of_use" target="_blank">Terms of use</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- end of widget col-->
                        <div class="col-8 col-sm-8 col-md-4 col-xl-6">
                            <span class="widget__title font-size--20 font-w--700 mb-1">Address</span>
                            <p class="font-size--15 mb-2">111, Inspire BKC, G Block,BKC, Bandra (East), Mumbai,
                                Maharashtra 400051, IN</p>
                            <a href="mailto:biz@clxns.in" class="color--primary mb-1">biz@clxns.in</a>
                            <ul class="icon-group mb-0">
                                <li><a href="https://www.linkedin.com/company/clxns/" class="color--primary"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                        <!-- end of widget col-->
                    </div>
                </div>
                <!-- end of main footer container-->
            </div>
            <!-- end of main footer -->
            <div class="py-3">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-center">
                            <p class="font-size--15">© 2021 <a href="#" class="text-color--400">CLXNS Technologies Pvt.
                                    Ltd</a>. All Rights
                                Reserved.
                            </p>
                        </div>
                    </div>
                    <!-- end of mini footer row -->
                </div>
                <!-- end of mini footer container -->
            </div>
            <!-- end of mini footer -->
        </footer>
    </main>
    <!-- <a href="#contact" class="float">
         <i class="fas fa-phone my-float"></i> 
        <h6 style="margin-top: 17px; font-size: 17px;">Contact Us</h6>
        <h6 class="btn btn-size--md btn-bg--primary rounded--full btn-hover--3d btn-hover--splash">
            Contact Us
        </h6>
    </a> -->
    <script src="js/plugins.min.js"></script>
    <script src="js/app.js"></script>
</body>

</html>



