<!-- =========== DOC and FAQ ============ -->
<div id="faq" class="p-2 section--dark bg-color--primary">
</div>
<section class="section--dark bg-color--white">

    <!-- end of document area -->
    <div class="space faq faq--v1">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="text-center text-sm-left mb-5 mb-lg-7 reveal">
                        <h2 class="h4-font mb-2 font-w--700">Frequently <br> asked questions</h2>
                    </div>
                </div>
                <!-- end of section title col -->
                <div class="col-12 col-lg-8">
                    <div class="accordion accordion--v1 remove-space--bottom reveal" id="accordion1">
                        <div class="card mb-1">
                            <button class="btn btn-header btn-link" type="button" data-toggle="collapse"
                                data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                <span class="h6-font text-color--300 text-left font-w--600">What is Cyrpto
                                    SpaceMax token?</span>
                                <i class="icon icon-up-arrow"></i>
                            </button>
                            <div id="collapse1" class="collapse show" data-parent="#accordion1">
                                <div class="card-body pl-3">
                                    <p>Our product solves crucial problems of such giant services as Foursquare
                                        & Swarm, Groupon, and Tripadvisor. Millenial travelers don’t possess any
                                        more countless hours for preparing the trip itinerary (reading
                                        Tripadvisor). Business travelers, in particular, complain they are
                                        having maximum 2 to 5 free hours during their work trips, which they
                                        don’t want to spend on researching what is worth doing around.</p>
                                </div>
                            </div>
                        </div>
                        <!-- end of single accordion-->
                        <div class="card mb-1">
                            <button class="btn btn-header btn-link collapsed" type="button"
                                data-toggle="collapse" data-target="#collapse2" aria-expanded="false"
                                aria-controls="collapse2">
                                <span class="h6-font text-color--300 text-left font-w--600">Do we already have
                                    an application?</span>
                                <i class="icon icon-up-arrow"></i>
                            </button>
                            <div id="collapse2" class="collapse" data-parent="#accordion1">
                                <div class="card-body pl-3">
                                    <p>Our product solves crucial problems of such giant services as Foursquare
                                        & Swarm, Groupon, and Tripadvisor. Millenial travelers don’t possess any
                                        more countless hours for preparing the trip itinerary (reading
                                        Tripadvisor). Business travelers, in particular, complain they are
                                        having maximum 2 to 5 free hours during their work trips, which they
                                        don’t want to spend on researching what is worth doing around.</p>
                                </div>
                            </div>
                        </div>
                        <!-- end of single accordion-->
                        <div class="card mb-1">
                            <button class="btn btn-header btn-link collapsed" type="button"
                                data-toggle="collapse" data-target="#collapse3" aria-expanded="false"
                                aria-controls="collapse3">
                                <span class="h6-font text-color--300 text-left font-w--600">Why
                                    blockchain?</span>
                                <i class="icon icon-up-arrow"></i>
                            </button>
                            <div id="collapse3" class="collapse" data-parent="#accordion1">
                                <div class="card-body pl-3">
                                    <p>Our product solves crucial problems of such giant services as Foursquare
                                        & Swarm, Groupon, and Tripadvisor. Millenial travelers don’t possess any
                                        more countless hours for preparing the trip itinerary (reading
                                        Tripadvisor). Business travelers, in particular, complain they are
                                        having maximum 2 to 5 free hours during their work trips, which they
                                        don’t want to spend on researching what is worth doing around.</p>
                                </div>
                            </div>
                        </div>
                        <!-- end of single accordion-->
                        <div class="card mb-1">
                            <button class="btn btn-header btn-link collapsed" type="button"
                                data-toggle="collapse" data-target="#collapse4" aria-expanded="false"
                                aria-controls="collapse4">
                                <span class="h6-font text-color--300 text-left font-w--600">When is the SpaceMax
                                    token going to be transferable?</span>
                                <i class="icon icon-up-arrow"></i>
                            </button>
                            <div id="collapse4" class="collapse" data-parent="#accordion1">
                                <div class="card-body pl-3">
                                    <p>Our product solves crucial problems of such giant services as Foursquare
                                        & Swarm, Groupon, and Tripadvisor. Millenial travelers don’t possess any
                                        more countless hours for preparing the trip itinerary (reading
                                        Tripadvisor). Business travelers, in particular, complain they are
                                        having maximum 2 to 5 free hours during their work trips, which they
                                        don’t want to spend on researching what is worth doing around.</p>
                                </div>
                            </div>
                        </div>
                        <!-- end of single accordion-->
                        <div class="card mb-1">
                            <button class="btn btn-header btn-link collapsed" type="button"
                                data-toggle="collapse" data-target="#collapse5" aria-expanded="false"
                                aria-controls="collapse5">
                                <span class="h6-font text-color--300 text-left font-w--600">In what currency
                                    will the funds be collected?</span>
                                <i class="icon icon-up-arrow"></i>
                            </button>
                            <div id="collapse5" class="collapse" data-parent="#accordion1">
                                <div class="card-body pl-3">
                                    <p>Our product solves crucial problems of such giant services as Foursquare
                                        & Swarm, Groupon, and Tripadvisor. Millenial travelers don’t possess any
                                        more countless hours for preparing the trip itinerary (reading
                                        Tripadvisor). Business travelers, in particular, complain they are
                                        having maximum 2 to 5 free hours during their work trips, which they
                                        don’t want to spend on researching what is worth doing around.</p>
                                </div>
                            </div>
                        </div>
                        <!-- end of single accordion-->
                        <div class="card mb-1">
                            <button class="btn btn-header btn-link collapsed" type="button"
                                data-toggle="collapse" data-target="#collapse6" aria-expanded="false"
                                aria-controls="collapse6">
                                <span class="h6-font text-color--300 text-left font-w--600">Where can I store
                                    INT token?</span>
                                <i class="icon icon-up-arrow"></i>
                            </button>
                            <div id="collapse6" class="collapse" data-parent="#accordion1">
                                <div class="card-body pl-3">
                                    <p>Our product solves crucial problems of such giant services as Foursquare
                                        & Swarm, Groupon, and Tripadvisor. Millenial travelers don’t possess any
                                        more countless hours for preparing the trip itinerary (reading
                                        Tripadvisor). Business travelers, in particular, complain they are
                                        having maximum 2 to 5 free hours during their work trips, which they
                                        don’t want to spend on researching what is worth doing around.</p>
                                </div>
                            </div>
                        </div>
                        <!-- end of single accordion-->
                    </div>
                </div>
            </div>
            <!-- end of FAQ row -->
        </div>
        <!-- end of FAQ container -->
    </div>
    <!-- end of FAQ Area -->

</section>