<%- include('../../../top.ejs') -%>
<%- include('../../../header.ejs') -%>
<%- include('../../../sidenav.ejs') -%>

<div id="main">
    <div class="row">
        <div class="content-wrapper-before gradient-45deg-indigo-light-blue "></div>
        <div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col s10 m6 l6">
                        <h5 class="breadcrumbs-title mt-0 mb-0"><span>Add a new pincode</span></h5>
                        <ol class="breadcrumbs mb-0">
                            </li>
                            <li class="breadcrumb-item"><a href="/masterData/pincodes">Pincode</a>
                            </li>
                            <li class="breadcrumb-item active">Add Pincode
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="container">
                <div class="section section-data-tables">
                    <div class="card roundCorners">
                        <div class="card-content">
                            <p class="caption mb-0">
                                Create a new pincode here and assign pincode to various leads.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="container">
                <section class="tabs-vertical section">
                    <div class="row">
                        <div class="col l12 s12">
                            <div id="general">
                                <form class="validateAddPincode" id="validateAddPincode" method="POST" action="/masterData/pincodes/addPincode">
                                    <div class="card-panel roundCorners">
                                        <div class="row">
                                            <div class="row">
                                                <div class="col s6">
                                                    <div class="input-field">
                                                        <label for="name">Pincode</label>
                                                        <input type="text" id="code" name="code"
                                                            data-error=".errorTxt1">
                                                        <small class="errorTxt1"></small>
                                                    </div>
                                                </div>
                                                <div class="col s6">
                                                    <div class="input-field">
                                                        <select id='serviceable' name="serviceable" data-error=".errorTxt2">
                                                          <option value="Yes">Yes</option>
                                                          <option value="No">No</option>
                                                        </select>
                                                        <label for="type">Serviceable</label>
                                                        <small class="errorTxt2"></small>
                                                      </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col s6">
                                                    <div class="input-field">
                                                        <label for="city">City</label>
                                                        <input type="text" id="city" name="city"
                                                            data-error=".errorTxt3">
                                                        <small class="errorTxt3"></small>
                                                    </div>
                                                </div>
                                                <div class="col s6">
                                                    <div class="input-field">
                                                        <label for="state">State</label>
                                                        <input type="text" id="state" name="state"
                                                            data-error=".errorTxt4">
                                                        <small class="errorTxt4"></small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col s12 display-flex justify-content-end form-action">
                                                    <button type="submit"
                                                        class="btn blue darken-1 waves-effect waves-light mr-2" id="addRole">
                                                        Save
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<%- include('../../../bottom.ejs') -%>