<%- include('../../top.ejs') -%>
<%- include('../../header.ejs') -%>
<%- include('../../sidenav.ejs') -%>

<div id="main">
  <div class="row">
    <div class="content-wrapper-before gradient-45deg-indigo-light-blue "></div>
    <div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper">
      <!-- Search for small screen-->
      <div class="container">
        <div class="row">
          <div class="col s10 m6 l6">
            <h5 class="breadcrumbs-title mt-0 mb-0"><span>Add Campaign</span></h5>
            <ol class="breadcrumbs mb-0">
              <li class="breadcrumb-item"><a href="/campaign">Campaigns</a>
              </li>
              <li class="breadcrumb-item active">Add Campaign
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <div class="container">
        <div class="section section-data-tables">
          <div class="card roundCorners">
            <div class="card-content">
              <p class="caption mb-0">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, aspernatur corrupti
                provident iure mollitia quos aliquid quae obcaecati molestiae, eum incidunt
                necessitatibus, id omnis eius! Tenetur incidunt beatae consequuntur fuga.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m12 l12">
      <div class="container">

        <div id="Form-advance" class="card card card-default scrollspy roundCorners">
          <div class="card-content">
            <form id="formValidateCampaign" action="/campaign/addCampaign" method="POST">
              <div class="row">
                <div class="input-field col s12">
                  <label for="name">Name</label>
                  <input id="name" name="name" type="text" data-error=".errorTxt1" />
                  <small class="errorTxt1"></small>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <label for="description">Description</label>
                  <input id="description" name="description" type="text" data-error=".errorTxt2" />
                  <small class="errorTxt2"></small>
                </div>
              </div>
              <div class="row">
                <div class="col s12 ">
                  <label for="end_date">End Date:</label>
                  <input id="end_date" class="datepicker" type="text" id="end_date" name="end_date" format="dd-mm-yyyy" value="" min="1997-01-01" max="2030-12-31">
                </div>
              </div>              
              <div class="row">
                <button class="btn blue darken-1 waves-effect waves-light right mr-2" type="submit" id="addcampaign">
                  Save
                </button>
              </div>
          </div>

          </form>
        </div>

      </div>
    </div>
  </div>
</div>
</div>
</div>

<script>
  $("body").on("submit", "form", function() {
    $(this).submit(function() {
        return false;
    });
    return true;
});
</script>
<%- include('../../bottom.ejs') -%>