<%- include('../../top.ejs') -%>
<%- include('../../header.ejs') -%>
<%- include('../../sidenav.ejs') -%>

<div id="main">
    <div class="row">
        <div class="content-wrapper-before gradient-45deg-indigo-light-blue "></div>
        <div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col s10 m6 l6">
                        <h5 class="breadcrumbs-title mt-0 mb-0"><span>Add Customer</span></h5>
                        <ol class="breadcrumbs mb-0">
                            <!-- <li class="breadcrumb-item"><a href="/dashboard">Home</a>
                            </li> -->
                            <li class="breadcrumb-item"><a href="/customer">Customer</a>
                            </li>
                            <li class="breadcrumb-item active">Add Customer
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="container">
                <div class="section section-data-tables">
                    <div class="card roundCorners">
                        <div class="card-content">
                            <p class="caption mb-0">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, aspernatur corrupti
                                provident iure mollitia quos aliquid quae obcaecati molestiae, eum incidunt
                                necessitatibus, id omnis eius! Tenetur incidunt beatae consequuntur fuga.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="container">
                <section class="tabs-vertical section">
                    <div class="row">
                        <div class="col l12 s12">
                            <div id="general">
                                <form class="validateAddCustomer" id="validateAddCustomer" method="POST" action="/customer/addCustomer">
                                    <div class="card-panel roundCorners">
                                        <div class="row">
                                            <div class="row">
                                                <div class="col s12">
                                                    <div class="input-field">
                                                        <label for="name">Customer Name</label>
                                                        <input type="text" id="name" name="name"
                                                            data-error=".errorTxt1">
                                                        <small class="errorTxt1"></small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                              <div class="col s12">
                                                  <div class="input-field">
                                                      <label for="contactNo">Contact Number</label>
                                                      <input type="text" id="contactNo" name="contactNo"
                                                          data-error=".errorTxt1">
                                                      <small class="errorTxt1"></small>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="row">
                                            <div class="col s12">
                                                <div class="input-field">
                                                    <label for="address">Address</label>
                                                    <input type="text" id="address" name="address"
                                                        data-error=".errorTxt1">
                                                    <small class="errorTxt1"></small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                          <div class="col s12">
                                              <div class="input-field">
                                                  <label for="rating">Customer Rating</label>
                                                  <input type="number" id="rating" name="rating"
                                                      data-error=".errorTxt1">
                                                  <small class="errorTxt1"></small>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="row">
                                        <div class="input-field col s12">
                                          <a
                                            class="
                                              btn
                                              waves-effect waves-light
                                              gradient-45deg-purple-deep-orange
                                              float-right
                                            "
                                            href="/customer"
                                            >Cancel</a
                                          >
                                          <button
                                            class="btn cyan waves-effect waves-light right mr-2"
                                            type="submit"
                                          >
                                            Save
                                          </button>
                                        </div>
                                      </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<%- include('../../bottom.ejs') -%>